:root{
    --text-color-white: #fff;
    --text-color-black: #000;
    --primary-color: #e4bdbd;
    --secundary-color: #bbc494;
    --background-color: #F1D5D0;
    --text-color-menu: #9D6359;
}